@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="error-content">
    <h2>
        指定されたページ(URL)へのアクセスは禁止されています。
    </h2>
    <label>
        URLに間違いがないか、再度確認してください。再読み込みしてください。
    </label>
    <br /><br />
    <button type="button" id="btnBack" name="btnBack" class="btn light"><i class="btn-icon btn-back"></i>ログインページへ戻る</button>
</div>
<script>
    $('#btnBack').click(function () {
        window.location.href = '/PMS01001/Login';
        return false;
    });
</script>