.tag-regist .col-sm-2{
    width: 12%;
}

.search-condition .search_customer {
    width: 225px;
}

.tag-regist .search_customer {
  width: 83%;
  margin-left: 0px;
}

.title-width{
    width : 100px;
}

.longtext {
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 0;
  vertical-align: middle;
  margin-bottom: 0;
}

.tag_name{
    max-width:300px;
}

.display_name{
   max-width:300px;
}

.user_update{
   max-width:140px;
}

.search-date {
  text-align: left;
}

.tag_name .longtext{
  cursor: pointer;
}

.tag-regist .display-order {
    width: 65px;
}
/*zoom in common textarea*/
 @media (max-width: 1300px) {
    .candy-textArea{
        max-width: 1000px;
    }
    .set-max-width{
        max-width :1000px;
    }
}

@media (max-width: 1100px) {
    .candy-textArea{
        max-width: 1000px;
    }
    .set-max-width{
        max-width :1000px;
    }
}
@media (min-width: 1300px) {
    .candy-textArea{
        max-width: 1000px;
    }
    .set-max-width{
        max-width :1000px;
    }
}
@media (min-width: 1500px) {
    .candy-textArea{
        max-width: 1130px;
    }
    .set-max-width{
        max-width :1130px;
    }
}
@media (min-width: 1700px) {
    .candy-textArea{
        max-width:1300px;
    }
    .set-max-width{
        max-width :1300px;
    }
}
@media (min-width: 1800px) {
    .candy-textArea{
        max-width:1400px;
    }
    .set-max-width{
        max-width :1400px;
    }
}
/*end zoom in textarea*/

 