
.btn_csv {
    margin-top: 8px;
}

.delete-link {
    cursor: pointer;
    text-decoration: underline;
}

.consumptionTax-regist label.first {
    width: 130px;
}

.consumptionTax-regist textarea {
    display: inline-block;
    float: none;
}

.consumptionTax-regist #ConsumptionTaxInfo_apply_start_date {
    margin-left: 0;
}

.consumptionTax-regist .percent-sign {
    padding-left: 0;
    margin-left: -10px;
}

.consumptionTax-regist label.col-sm-2 {
    width: 12%;
}

/*zoom in common textarea*/
 @media (max-width: 1300px) {
    .candy-textArea{
        max-width: 1000px;
    }
    .set-max-width{
        max-width :1000px;
    }
}

@media (max-width: 1100px) {
    .candy-textArea{
        max-width: 1000px;
    }
    .set-max-width{
        max-width :1000px;
    }
}
@media (min-width: 1300px) {
    .candy-textArea{
        max-width: 1002px;
    }
    .set-max-width{
        max-width :1002px;
    }
}
@media (min-width: 1500px) {
    .candy-textArea{
        max-width: 1135px;
    }
    .set-max-width{
        max-width :1135px;
    }
}
@media (min-width: 1700px) {
    .candy-textArea{
        max-width:1295px;
    }
    .set-max-width{
        max-width :1295px;
    }
}
@media (min-width: 1800px) {
    .candy-textArea{
        max-width:1395px;
    }
    .set-max-width{
        max-width :1395px;
    }
}

.cell_left{
    max-width:250px;
}